<div class="container mt-5">
    <div *ngIf="error" class="alert alert-danger">
      <p>{{ error }}</p>
    </div>
  
    <div *ngIf="pelicula" class="card shadow-lg">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="pelicula.Poster" class="img-fluid rounded-start" alt="Poster">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title text-primary">{{ pelicula.Title }}</h2>
            <p><strong>Año:</strong> {{ pelicula.Year }}</p>
            <p><strong>Género:</strong> {{ pelicula.Genre }}</p>
            <p><strong>Director:</strong> {{ pelicula.Director }}</p>
            <p><strong>Actores:</strong> {{ pelicula.Actors }}</p>
            <p><strong>Sinopsis:</strong> {{ pelicula.Plot }}</p>
            <a routerLink="/" class="btn btn-primary">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  