<div class="container mt-5">
  <h2 class="text-center mb-4">Acerca de esta aplicación</h2>

  <div class="row">
    <!-- Información general -->
    <div class="col-md-6 mb-4">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title text-center">¿Qué es PelículasApp?</h5>
          <p class="card-text">PelículasApp es una aplicación web sencilla y práctica que permite buscar películas y series utilizando la API de OMDb. Puedes acceder a detalles completos de cada título, como sinopsis, actores, directores, géneros y más.</p>
        </div>
      </div>
    </div>

    <!-- Tecnologías utilizadas -->
    <div class="col-md-6 mb-4">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title text-center">Tecnologías utilizadas</h5>
          <p class="card-text">Esta aplicación está construida con Angular, un potente framework de desarrollo frontend, y con Bootstrap para un diseño atractivo y responsivo. Utilizamos la API OMDb para acceder a una vasta base de datos de películas y series.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <h3>¡Gracias por usar PelículasApp!</h3>
    <p>Esperamos que disfrutes explorando el mundo del cine y las series. ¡Que empiece el entretenimiento!</p>
  </div>

  <div class="text-center mt-4">
    <h4>Desarrollado por:</h4>
    <p><strong>Juan Ramos</strong> | 2025</p>
  </div>
</div>
